
.user-list-container {
  padding: 20px;
}

.user-list-actions {
  margin-bottom: 20px;
  text-align: right;
}

.user-list-actions button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.user-list-actions button:hover {
  background-color: var(--primary-dark-color);
}

.user-type-badge {
  display: inline-block;
  padding: 0.3em 0.7em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff; /* Default text color */
}

.user-type-badge.patient {
  background-color: #007bff; /* Blue */
}

.user-type-badge.doctor {
  background-color: #28a745; /* Green */
}

.user-type-badge.user {
  background-color: #6c757d; /* Gray */
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
}
.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.search-container {
  margin-right: 10px;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-icon {
  margin-right: 8px;
  color: #666;
}

.filter-select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
}


.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.items-per-page-selector {
  display: flex;
  align-items: center;
}

.items-per-page-selector label {
  margin-right: 0.5rem;
}

.items-per-page-selector select {
  padding: 0.3rem;
  border-radius: 4px;
}

.pagination button {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  margin: 0 0.5rem;
}


