.dashboard-container {
  padding: 2rem;
}

.dashboard-title {
  margin-bottom: 2rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.dashboard-charts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.chart-card {
  background-color: var(--white-color);
  color: var(--dark-color);
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  width: 48%;
}

.card {
  color: var(--white-color);
  border-radius: .25rem;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card h2 {
  margin-top: 0;
}

.dashboard-grid .card:nth-child(1) {
    background-color: var(--primary-color);
}

.dashboard-grid .card:nth-child(2) {
    background-color: var(--success-color);
}

.dashboard-grid .card:nth-child(3) {
    background-color: var(--warning-color);
}

.dashboard-grid .card:nth-child(4) {
    background-color: var(--danger-color);
}

.dashboard-grid .card:nth-child(5) {
    background-color: var(--info-color);
}

.dashboard-grid .card:nth-child(6) {
    background-color: var(--dark-color);
}

.card.appointments {
    background-color: var(--secondary-color);
}

.dashboard-table table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #dee2e6;
  padding: .75rem;
  text-align: left;
}

.dashboard-table th {
  background-color: var(--light-color);
}

.chart-card {
  background-color: var(--white-color);
  color: var(--dark-color);
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  width: 25%;
  margin: auto;
}
