.doctor-dashboard {
  padding: 20px 20px 20px 30px; /* Increased left padding */
  background-color: #f0f2f5;
}

.doctor-dashboard h2 {
  margin-bottom: 2rem;
  padding-left: 10px; /* Padding for the welcome note */
}

.dashboard-section.no-header {
  padding-top: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.card.text-card {
  color: var(--white-color);
  border-radius: .25rem;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  flex: 1;
}

.card.text-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card.text-card h4 {
  margin-top: 0;
  font-size: 1.1em;
  font-weight: normal;
}

.card.text-card p {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

.bg-success {
    background-color: var(--success-color);
}

.bg-info {
    background-color: var(--info-color);
}

.stats-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.dashboard-section {
  margin-bottom: 20px;
  padding: 24px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.dashboard-section h3 {
  margin: -24px -24px 20px -24px; /* Adjust margin to extend background */
  padding: 16px 24px;
  border-bottom: none; /* Remove default border */
  background-color: var(--primary-color);
  color: var(--white-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.2em;
}

.dashboard-section ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-section li {
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.dashboard-section li:last-child {
  border-bottom: none;
}
