.patient-dashboard {
  padding: 20px;
  background-color: #f0f2f5;
}

.dashboard-section {
  margin-bottom: 20px;
  padding: 24px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.dashboard-section h3 {
  margin: -24px -24px 20px -24px; /* Adjust margin to extend background */
  padding: 16px 24px;
  border-bottom: none; /* Remove default border */
  background-color: var(--primary-color);
  color: var(--white-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.2em;
}

.personal-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.dashboard-section ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-section li {
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.dashboard-section li:last-child {
  border-bottom: none;
}
