:root {
  --primary-color: #4e73df;
  --secondary-color: #858796;
  --success-color: #1cc88a;
  --warning-color: #f6c23e;
  --danger-color: #e74a3b;
  --info-color: #36b9cc;
  --light-color: #f8f9fc;
  --dark-color: #5a5c69;
  --white-color: #fff;
}
