.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--light-color);
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.header-search input {
  padding: .5rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-profile .profile-name {
  font-weight: 500;;
}

.header-profile img {
  border-radius: 50%;
}
