.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--light-color);
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.header-search input {
  padding: .5rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.header-profile .profile-name {
  font-weight: 500;;
}

.header-profile img {
  border-radius: 50%;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid var(--light-color);
  border-radius: .25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-item {
  padding: .75rem 1.5rem;
  cursor: pointer;
  width: 100px;
}

.dropdown-item:hover {
  background-color: var(--light-color);
}
