.sidebar-container {
  width: 300px;
  background-color: var(--light-color);
  padding: 1rem;
  border-right: 1px solid #dee2e6;
}

.sidebar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 2rem;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li a {
  display: block;
  padding: .75rem 1rem;
  color: var(--dark-color);
  text-decoration: none;
  border-radius: .25rem;
}

.sidebar-nav li.active a {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.sidebar-nav li a:hover {
  background-color: var(--primary-light-color);
  color: var(--white-color);
}
