.appointment-list-container {
  padding: 20px;
}

.appointment-list-actions {
  margin-bottom: 20px;
  text-align: right;
}

.appointment-list-actions button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.appointment-list-actions button:hover {
  background-color: var(--primary-dark-color);
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.tab {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #555;
  transition: all 0.3s ease;
}

.tab:hover {
  color: var(--primary-color);
}

.tab.active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
}

.status-badge {
  display: inline-block;
  padding: 0.3em 0.7em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff; /* Default text color */
}

.status-badge.status-completed {
  background-color: #28a745; /* Green */
}

.status-badge.status-scheduled {
  background-color: #007bff; /* Blue */
}

.status-badge.status-reschedule {
  background-color: #ffc107; /* Yellow */
  color: #333; /* Dark text for yellow background */
}

.status-badge.status-cancelled {
  background-color: #dc3545; /* Red */
}
